# ============================================================
# Источник логов
# ============================================================

[sources.logs]
type = "stdin"

# ============================================================
# Отправка логов в ClickHouse
# ============================================================

[sinks.clickhouse]
type = "clickhouse"
inputs = ["logs"]

endpoint = "{{ vector_clickhouse_endpoint }}"
database = "{{ vector_clickhouse_database }}"
table = "{{ vector_clickhouse_table }}"

auth.strategy = "basic"
auth.user = "{{ vector_clickhouse_user }}"
auth.password = "{{ vector_clickhouse_password }}"